html,body{
    width: 100%;
    background-color: rgb(15,4,66);
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}
.navbar-brand,
.navbar-nav a {
    line-height: 60px;
    text-shadow: 0px 0px 1px grey;
}
.navbar-nav a{
   float: right;
}
.home{
    height: fit-content;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.branding{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(219,25,40);
    font-family: 'Bangers', cursive;
    text-shadow: 3px 3px 3px black;
    font-size: 60px;
    margin-bottom: 70px;
    text-align: center;
}
.branding img{
    filter: drop-shadow(3px 3px 5px black);
}
.branding .btn{
    font-family: sans-serif;
    font-weight: 900;
    background-color: rgb(255,143,38);
    box-shadow: 3px 3px 3px black;
    font-style: italic;
}
#about{
    position: relative;
}
.carousel .carousel-item{
    height: 500px;
    background-color: black;
    opacity: 0.4;
}
.carousel-item img {
    object-fit:cover;
   
}
.abtcont{
    position: absolute;
    z-index: 5;
    text-align: center;
    color:rgb(108,208,199);
    top: 50%;
    left: 50%;
    text-shadow: 2px 2px 5px black;
    transform: translate(-50%,-50%);
    font-weight: 900;
    font-style: italic;
}
.abtcont h1{
    font-family: 'Bangers', cursive;;
    font-style: normal;
}
.tour{
    width: 100%;
    height: fit-content;
    background-color: rgb(15,4,66);
    margin: 0;
}

.art{
    padding-right: 0;
}
.art img{
    float: right;
}
.to{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:rgb(223,40,142);
    font-family: 'Bangers', cursive;
    text-shadow: 3px 3px 3px black;
}
.to h1{
    color: rgb(108,208,199);
    font-size: 100px;
}
.team{
    display: flex;
    justify-content: center;
    margin: 0;
    padding-bottom: 50px;
}
.team div{
   color: rgb(255,143,38);
   text-align: center;
   font-family: 'Bangers', cursive;
}
#tour h1, #yt h1, #quest h1{
    color: rgb(108,208,199);
    text-align: center;
    font-family: 'Bangers', cursive;
    margin: 30px 0;
    text-shadow: 2px 2px 3px black;
}
#yt .container{
    display: flex;
    justify-content: center;
}
#yt{
    padding: 50px 0;
}
#quest .card{
    margin: 20px 0;
    border-radius: 20px;
    background-color: white;
    opacity: 0.8;
}
#quest .card-header{
    font-weight: bold;
}
#quest .card-body p{
    font-size: 13px;
   
}
#quest .card body{
    padding: 0;
}
footer{
    margin-top: 50px;
    color: white;
    background-color: #2B2B52;
}
footer h3{
    font-family: 'Bangers', cursive;
    color: white;
}
@media (max-width: 575.98px) { 
    .branding {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .art{
        display: none;
    }
    .carousel .carousel-item{
        height: fit-content;
    }
    .abtcont{
        font-size: small;
    }
    .team{
        padding-bottom: 0;
    }
    .to{
        padding: 20px 0;
        background-color: #2B2B52;
    }
    .to h1{
        color: rgb(223,40,142);
        font-size: 60px;
        

    }
    .container iframe{
        width: 100%;
        
    }
    
 }